<form action="/deleted-flavor" method="post">
   <label for="name">Flavor to delete:</label><br>
   <input type="text" id="name" name="name" required><br>
 <br>
     <label for="BrandId"> Brand Id:</label><br>
   <input type="number" id="BrandId" name="BrandId" min="1" required><br>
   <br>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>