{{!-- START NAVBAR --}}
<div class="row">
	<div class="col">
		<div class="bg-img">
			<div class="container">
				<div class="topnav">
					<a href="/shop-brands">Home</a>
					{{!-- <a href="/login-form">Login</a> --}}
					<a href="#about">About</a>
					<a href="#contact">Contact</a>
					<a href="#contact">Cart <span id="badge" class="badge badge-light"></span>
					</a>

				</div>
			</div>
		</div>
	</div>
</div>
{{!-- END NAVBAR --}}

<div class="row">
	<div class="col">
		<section>
			{{#each brand.Flavors}}
			<article class="item-container block" style='text-align:center'>
				<div id="card" class="card">
					<div class="card-body">

						<img class="item-img" src="{{this.image}}" />

						<p>
							<h2><b>{{this.name}}</b> </h2>
						</p>

						<h3>Price: ${{this.price}} </h3>

						{{!-- TODO: Write add to cart functionality --}}
						<button id="add-btn" class="btn">Add To Cart <i class="fas fa-cart-plus"></i> </button>

					</div>
				</div>

			</article>
			{{/each}}
		</section>
	</div>
</div>