{{!-- START NAVBAR --}}
<div class="row">
	<div class="col">
		<div class="bg-img">
			<div class="container">
				<div class="topnav">
					<a href="/shop-brands">Home</a>
					<a href="/login-form">Login</a>
					<a href="#about">About</a>
					<a href="#contact">Contact</a>
				</div>
			</div>
		</div>
	</div>
</div>
{{!-- END NAVBAR --}}

<div class="row">
	<div class="col">
		<section>
			{{#each brand.Flavors}}
			<article class="item-container block" style='text-align:center'>
				<div id="card" class="card">
					<div class="card-body">

						<img class="item-img" src="{{this.image}}" />

						<p>
							<h2><b>{{this.name}}</b> </h2>
						</p>

						<h3>Price: ${{this.price}} </h3>
					</div>
				</div>

				{{!-- add to cart button --}}

				{{!-- TODO: Write add to cart functionality --}}
				<form action="/add-cart" method="POST">
					<button id="btnn" class="btn">Add To Cart</button>
				</form>

			</article>
			{{/each}}
		</section>
	</div>
</div>