{{!-- START NAVBAR --}}
<div class="row">
	<div class="col">
		<div class="bg-img">
			<div class="container">
				<div class="topnav">
					<a href="/shop-brands">Home</a>
					{{!-- <a href="/login-form">Login</a> --}}
					<a href="#about">About</a>
					<a href="#contact">Contact</a>
					<a href="#contact">Cart  <span class="badge badge-light">0</span>
</a>
				</div>
			</div>
		</div>
	</div>
</div>
{{!-- END NAVBAR --}}

<div class="row">
	<div class="col">
		<section>
			<br>
			<h2 id="ptitle"> Make a selection from our Top Quality Ice Cream Brands</h2>
			
			<br>
			{{#each brands}}
			<article class="item-container block" style='text-align:center'>
				<div id="card" class="card">
					<div class="card-body">
						<h2 id="pnames">{{name}}</h2>
						<img class="item-img" src="{{image}}" />
						<a class="btn" href="/shop-brands/{{id}}">View {{name}} Flavors</a>
					</div>
				</div>
			</article>
			{{/each}}
		</section>
	</div>
</div>